.friendMessage {
    margin-bottom: 47px;
}

.friendImageAndText {
    display: flex;
    gap: 12px;
    padding-bottom: 5px;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
}

.friendText {
    position: relative;
    padding: 8px 13px;
    background-color:  #f2f3fa;
    color: #000000;
    border-radius: 7px 7px 7px 0;
}

.friendText:after {
    position: absolute;
    content: '';
    left: -12px;
    bottom: 0;
    width: 12px;
    height: 12px;
    background: #f2f3fa;
    clip-path: polygon(100% 100%, 0% 100%, 100% 0%);
}

.friendName {
    font-size: 18px;
    margin-bottom: 3px;
}

.friendMessageText {
    font-weight: 400;
}

.friendTime {
    font-size: 10px;
    margin-left: 10px;
}
